.cart-dropdown {
  position: absolute;
  width: 300px;
  height: 450px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  top: 80px;
  right: 60px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  button {
    margin-top: auto;
  }
}
